.content {
  background-color: #000;

  .slider {
    touch-action: pan-y;
  }

  .postlist {

    h1 {
      font-size: 14px;
      line-height: 40px;
      font-weight: normal;
    }

    .info {
      font-size: 12px;
      color: rgba(#fff, 0.6);


      h3 {
        font-size: 14px;
        line-height: 40px;
        color: #fff;
      }
    }

  }

}


@keyframes home_move {
  from {
    transform: scale(0.6);
    transform-origin: top left;
  }
  to {
    transform: scale(1);
    transform-origin: top left;
  }
}

.home {
  animation: home_move 2s;
  -webkit-animation: home_move 2s;
}